
/*---------------------------------------------- Navigation Bar CSS -----------------------------------------*/

#navbar{
display: flex;
width: 100%;
margin: auto;
justify-content: space-between;
background-color: rgb(219,219,219);
height: 65px;
align-items: center;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
#navsub1{
width:20%;
padding-left: 40px;
font-size: 28px;

}
#navsub2{
display: flex;
width: 80%;
justify-content: space-between;
padding-right: 40px;
font-size: 15px;
  
}
/* ----------------------------------------------Footer Bar CSS---------------------------------------------- */

#footer{
display: flex;
flex-direction: column;
margin: auto;
width: 100%;
height: auto;
background-color: rgb(21, 19, 19);
color: white;
}
#footer-top{
  display: flex;
  grid-template-columns: repeat(6,1fr);
  margin: auto; 
  justify-content: space-between;
  
  height:400px;
  
 
 width: 90%;
}
#list1,#list2,#list3,#list4{
  display: flex;
 flex-direction: column;
 margin: auto;
 
 align-content: stretch;

}
#list1>ul,#list2>ul{
  list-style-type: none;
}

.copy{
  display: flex;
  justify-content: flex-end;
  margin: auto; 
  column-gap: 20px;
  
  height:auto;
  vertical-align: sub;
 width: 90%;
 padding-bottom: 50px;
 
}

#Admin{
  display: none;
  justify-content: center;
  width: 90%;
  margin: auto;
  background-color:rgb(21, 19, 19) ;
  color: white;
  
}
#Admin>button{
  background-color:rgb(21, 19, 19) ;
  color: white;
  border: none;
  font-size: 15px;
}

/*----------------------------------------------Data Fetching CSS--------------------------------------------*/

#CarDataMain{
display: block;
margin-top: 10px;
}
#main{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 95%;
    column-gap: 10px;
    }
    
    #sidenav{
    display: flex;
    flex-direction: column;
    width: 280px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    height:100%;
    animation: slidenavbar 4s infinite;  
          
    
    }
    
    @keyframes slidenavbar {
    0%   {box-shadow: 0 0 3.5px rgb(213,1,42)}
    10%  {box-shadow: 0 0 3.5px   rgb(213,1,42)}
    20%   {box-shadow: 0 0 3.5px rgb(213,1,42)}
    30%  {box-shadow: 0 0 3.5px   rgb(213,1,42)}
    40%   {box-shadow: 0 0 3.5px rgb(213,1,42)}
    50%  {box-shadow:0 0 3.5px   rgb(50,51,56)}
    60% {box-shadow: 0 0 3.5px  rgb(50,51,56)}
    70%  {box-shadow:0 0 3.5px   rgb(50,51,56)}
    80% {box-shadow: 0 0 3.5px  rgb(50,51,56)}
    90%  {box-shadow:0 0 3.5px   rgb(50,51,56)}
    100%  {box-shadow:0 0 3.5px   rgb(213,1,42)}
    }
    
    #data-list-wrapper{
    display: flex;
    padding: 10px;
    margin: auto;
    animation: slidenavbar 4s infinite; 
    }
    
    .btn{
    height: 25px;
    background-color: blue;
    color: white;
    border: none;  
    }
    
    #searchbox{
    height: 25px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid rgb(213,1,42);
    border-radius: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 32px;
    }
    
    #searchbox:hover{
    background-color:rgb(213,1,42);
           
    }
    
    ::placeholder {
    color: rgb(255, 255, 255);
    
    }
    
    
    
    /*-------------------------------------------- Collaspe Side Bar Property --------------------------------------*/
    
    .collapsible {
    background-color:rgb(213,1,42);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .active, .collapsible:hover {
    background-color:rgb(0, 0, 0);
    
    }
    
    .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f7f4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8{
    margin-top: 15px;
     
    }
    
    .content{
    padding-bottom: 10px;
    text-align: left;
    }
    
    #content1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
     
    }
    
    #sortbtn1,#sortbtn2,#sortbtn3,#sortbtn4,#sortbtn5,#sortbtn6{
    background-color: rgb(213,1,42);
    color: white;
    border: none;
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
      
    }
    
    .sortbtnhover{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .sortbtnhover::after{
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
     transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .sortbtnhover:hover{
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    }
    
    .sortbtnhover:hover::after{
    opacity: 1;
    }


/* ------------------------------------------------Card Css Part---------------------------------------------------- */
    

    .card-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    width: 100%;
    border: 1px solid none;
    gap: 12px;
    }

    .card{
        text-align: center;
        padding: 12px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    .cardbtn{
        width: 50%;
        height: 30px;
        background-color:rgb(213,1,42) ;
        color: white;
        border: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        margin-top: 15px;

    }

    #cardhover{
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    #cardhover::after{
        content: "";
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
         transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        
        #cardhover:hover{
        -webkit-transform: scale(1.01, 1.01);
        transform: scale(1.01, 1.01);
        }
        
        #cardhover:hover::after{
        opacity: 1;
        }


/*------------------------------------------------ Pagination CSS Part--------------------------------------------- */

    .pagination-wrapper {
        border: none;
        border-radius: 4px;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;

        }
        
    .pagination-button{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border: none;;
        padding: 10px;
        margin-left: 5px;
          }


/* -------------------------------------------------------------------------------------------------------- */
/* Car section Demo         */

#main1{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 78%;
    column-gap: 10px;
    
  }

  #sidenav1{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    height: auto;
    padding: 8px;

  }

  #data-list-wrapperr{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    
    height: auto;
  }
  .carname{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(93,93,93);
    padding: 10px;
  }
  .carprice{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 18px;
  }
  .caravailable{
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
  }
  .carlocation{
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 18px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
   
  }

  .Cardetails{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  }
  #box26{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 10px;
    padding: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
  }

  #box27{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 10px;
    padding: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
  }
  #infodiv{
    display: grid;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(93,93,93);
  }
  #bottomimg{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  #features{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    padding: 18px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 15px;

  }
  #title{
    padding-left: 10px;  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #box28{
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 10px;
    padding: 15px;
    color: rgb(93,93,93);

  }

  #box29{
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 10px;
    padding: 15px;
    color: rgb(93,93,93);
  }

  .PriceTitle{
    font-size: 28px;
    color: rgb(93,93,93);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .downpayment{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
  }
  .Payment{
    width:95%;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    background-color:rgb(240,240,240);
    color: black;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .Payment1{
    width:95%;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    background-color:rgb(213,1,42);
    color: white;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #info{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    
    margin-top: 20px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  }

  #info1{
    display: block;
    background-color:rgb(213,1,42);
    padding: 12px;
    color: white;
    height: 50px;
    align-items: center;
    text-align: center;
  }
  #info2{
    display: block;
    background-color:rgb(240,240,240);
    padding: 12px;
    height: 50px;
    align-items: center;
    text-align: center;

  }
#lastinfo{
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}